
.col {
    padding: .4em 1.3em;
}
input.txt {
    border: 0;
    padding: 1em;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 3px;
}
input.btn {
    padding: 1em;
    border: 0;
    border-radius: 3px;
}
p {
    font-weight: bold;
    color: blue;
}